/*导航栏样式  */
.main-nav{
    background:lightsteelblue;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
}

.main-nav .logo{
    display: inline-block;
}

.main-nav .logo a{
    color: #fff;
    text-decoration: none;
}

.main-nav ul{
     list-style: none; 
     float: right;
}

.main-nav ul li{
     display: inline-block;
     margin-right: 20px;
}

.main-nav ul li a{
    text-decoration:none;
    color:#fff;
}

/*巨幕样式  */
#my-space-header .banner{
    height: 500px;
    background:darkgrey;
    margin: 0 auto;
    text-align: center;
}

#my-space-header .banner .inner{
    position: relative;
    top: 160px;
    margin: 0 100px;
}

#my-space-header .banner .inner h2{
    margin: 0;
}